{% extends 'admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block bodyTitle %}Liste des utilisateurs{% endblock %}

{% block bodyContent %}
    <table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">AGE</th>
            <th scope="col">JOB</th>
            <th scope="col">HOBBY</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    {% if infosUsers %}
        <tbody>
        {% for user in infosUsers %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.job }}</td>
                <td>
                    {% if user.hobbies %}
                        {% for hobby in user.hobbies %}
                            {% if loop.index >= 2 %}| {% endif %} {{ hobby.designation }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td><a href="{{ path('app_infos_user_detail', {id: user.id}) }}" class="btn btn-info btn-sm" tabindex="-1" role="button" aria-disabled="true">Détail</a></td>
                <td><a href="{{ path('app_infos_user_edit', {id: user.id}) }}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Modifier</a></td>
                <td><a href="{{ path('app_infos_user_delete', {id: user.id}) }}" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Supprimer</a></td>
            </tr>
        {% endfor %}
        {% if maxPage > 1 %}
            <tr>
                <td colspan="7">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_infos_user_findby_pagination', {page: page-1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for nb in tabPages %}
                        {% if nb == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ nb }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('app_infos_user_findby_pagination', {page: nb}) }}">{{ nb }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page < maxPage %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_infos_user_findby_pagination', {page: page+1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
                </td>
            </tr>
        {% endif %}
        </tbody>
    {% endif %}

    </table>
{% endblock %}
