{% extends 'admin.html.twig' %}

{% block title %}Liste des todos !{% endblock %}

{% block bodyTitle %}Liste des todos{% endblock %}

{% block bodyContent %}

<ul class="list-group">
{% for key, value in app.session.get('todos') %}
  <li class="list-group-item">{{ key }} : {{ value }}</li>
{% endfor %}
</ul>

{% if number1 is defined %}
<h1>Multiplication:</h1>
<ul class="list-group">
    <li class="list-group-item">{{ number1 }} x {{ number2 }} = {{ result }}</li>
</ul>
{% endif %}

{% endblock %}
