{% extends 'admin.html.twig' %}

{% block title %}Nombre de visites!{% endblock %}

{% block bodyTitle %} Bonjour le nombre de viste = {{ app.session.get('nbVisite') }} {% endblock %}

{% block bodyContent %}

    <table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">images</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><img width="50" src="{{ article.image }}"/></td>
            <td>{{ article.name }}</td>
            <td>{{ article.price|number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
